/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CONTAINER DE INSERIR OS DADOS DA VIAGEM */
.dados-viagem{

    width: 1000px;
    height: 350px;
    background-color: var(--container-data);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
    position: relative;
    transition: transform 0.3s ease;
}

.dados-viagem:hover{

    transform: scale(1.02);
}

.dados-viagem_titulo{

    color: var(--black);
    font-family: var(--jost-font);
    font-size: var(--font-size-larger);

    position: absolute;
    left: 50px;
    top: 20px;
}

/* dados viagem origem */
.dados-viagem-origem{

    color: var(--white);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);

    position: absolute;
    left: 50px;
    top: 80px;
}

.dados-viagem-origem_select{

    width: 900px;
    height: 66px;

    border-radius: 20px;
    border: none;

    position: absolute;
    left: 50px;
    top: 120px;
    padding: 15px;

    color: var(--black);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-smaller);
}

/* dados viagem destino */
.dados-viagem-destino{

    color: var(--white);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight);

    position: absolute;
    left: 50px;
    top: 200px;
}

.dados-viagem-destino_select{

    width: 900px;
    height: 66px;

    border-radius: 20px;
    border: none;

    position: absolute;
    left: 50px;
    top: 240px;
    padding: 15px;

    color: var(--black);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-smaller);
}