/* CONTAINER TODO */
.main-container{

    width: 100%;
 
    padding-bottom: 70px;
    align-content: center;
    justify-items: center;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ESPAÇAMENTO ENTRE OS CONTAINERS */
.dados-viagem,
.dados-veiculo,
.resultados_section,
.lista-dados-viagem {
    margin-bottom: 20px; /* Adiciona uma margem de 20px na parte inferior de cada container */
}


