/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* HEADER */
.header{

    width: 100%;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.header h1{

    color: var(--main-title-and-hover-btns);
    font-size: var(--font-size-larger);
    color: var(--main-title);
    font-family: var(--jost-font); 
}

.header h3{

    font-size: var(--font-size-medium);
    color: var(--black);
    font-family: var(--jaldi-font);

    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* FOOTER */
.footer{

    width: 100%;
    height: 50px;
    background-color: var(--footer-and-btns);

    bottom: 0;
    position: fixed;

    display: flex;
    justify-content: space-between;
}

.footer, span{

    align-content: center;
}

.nomes-footer{

    color: var(--white);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-smaller);

    margin-left: 50px;  
}

.data-footer{

    color: var(--white);
    font-family: var(--jaldi-font);
    font-size: var(--font-size-smaller);

    margin-right: 50px;
    font-weight: var(--font-weight);
}
