@media (max-width: 375px) {
    .dados-viagem{
        width: 350px;
        height: 350px;
    }
    .dados-viagem-origem_select{
        width: 250px;
        height: 66px;
    }
    .dados-viagem-destino_select{
        width: 250px;
        height: 66px;
    }
    .lista-dados-viagem{
        width: 350px;
        height: 300px;
    }
    .dados-veiculo{
        width: 350px;
        height: 520px;
    }
    .dados-veiculo-consumo_input{
        width: 250px;
        height: 66px;
    }
    .dados-veiculo-combustivel_input{
        width: 250px;
        height: 66px;
    }
    .dados-veiculo-velocidade_input{
        width: 250px;
        height: 66px;
    }
    .resultados_section{
        width: 350px;
        height: 800px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .resultados-combustivel_div{
        width: 250px;
        height: 180px;
    }
}


@media (max-width: 200px) {
    
  }